<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MyToolkit" version="2.5.16" targetFramework="net472" />
  <package id="MyToolkit.Extended" version="2.5.16" targetFramework="net472" />
  <package id="Spire.Doc" version="9.3.3" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.4.0.47" targetFramework="net472" />
  <package id="Syncfusion.DocIO.AspNet.Mvc5" version="18.4.0.47" targetFramework="net472" />
  <package id="Syncfusion.DocIO.Wpf" version="18.4.0.47" targetFramework="net472" />
  <package id="Syncfusion.DocToPdfConverter.AspNet.Mvc5" version="18.4.0.46" targetFramework="net472" />
  <package id="Syncfusion.DocToPDFConverter.Wpf" version="18.4.0.47" targetFramework="net472" />
  <package id="Syncfusion.ExcelToPdfConverter.Wpf" version="18.4.0.47" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.4.0.47" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="18.4.0.47" targetFramework="net472" />
  <package id="Syncfusion.Pdf.AspNet.Mvc5" version="18.4.0.47" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="18.4.0.47" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Wpf" version="18.4.0.47" targetFramework="net472" />
</packages>